<a href="https://colab.research.google.com/github/Sudip-maharjan/tester/blob/main/Lab1A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

In [12]:
df =pd.read_csv('lab1-datasets/employee_data.csv')#Load dataset

In [13]:
print('Raw/Inital Data:\n', df.head())#read initial data

Raw/Inital Data:
    ID     Name   Age       Department   Salary
0   1     John  28.0               HR  50000.0
1   2     Jane  35.0          Finance  60000.0
2   3    Emily   NaN               HR  55000.0
3   4  Michael  40.0  Human Resources      NaN
4   5    Sarah  29.0               IT  52000.0

In [14]:
#Handle missing values and fill with their mean value
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

In [15]:
#Standardize department names
df['Department'] = df['Department'].replace({
    'Human Resources': 'HR',
    'H.R.': 'HR',
    'hr': 'HR'
})

In [16]:
df.drop_duplicates(subset='ID', keep='first', inplace=True)#Remove duplicates

In [17]:
print("\nCleaned Data:\n", df.head())#Print cleaned data

Cleaned Data:
    ID     Name   Age Department   Salary
0   1     John  28.0         HR  50000.0
1   2     Jane  35.0    Finance  60000.0
2   3    Emily  35.7         HR  55000.0
3   4  Michael  40.0         HR  58100.0
4   5    Sarah  29.0         IT  52000.0